@import 'material-icons/iconfont/material-icons.css';
@import 'transitions.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Outfit';
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url('fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Varela Round';
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url('fonts/VarelaRound-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 100 200 300 400 500 600 700 800;
  src: url('fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@layer base {
  h1 {
    @apply text-4xl font-bold leading-none;
  }

  h2 {
    @apply text-3xl font-semibold leading-none;
  }

  h3 {
    @apply text-2xl font-medium leading-none;
  }

  html {
    @apply bg-neutral-50 font-['Outfit'] font-light text-neutral-700 dark:bg-neutral-900 dark:text-deadgreen-300;
  }

  button,
  input[type='checkbox'] {
    @apply cursor-pointer;
  }

  hr {
    @apply my-2 border border-stone-700;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  /* selection  */
  ::selection {
    @apply bg-blue-400/50;
  }
}

@layer utilities {
  /* .sheet-preview {
    @apply text-lg leading-[1.5];
  } */

  .sheet-preview {
    @apply leading-[1.5];
  }

  .sheet-preview > hr {
    @apply my-5 border border-stone-400;
  }

  .sheet-preview span > .chord {
    @apply -top-[1.5rem];
  }

  .sheet-preview .chord {
    @apply relative font-medium text-neutral-700 dark:text-deadgreen-50;
  }

  .sheet-preview .chord::before {
    @apply absolute bottom-0 left-[-0.24rem] right-[-0.24rem] top-0 z-[-1] rounded-[4px] bg-neutral-200 content-null dark:bg-neutral-600;
  }

  .sheet-preview > .lyrics {
    @apply font-normal;
  }

  .sheet-preview > .song-section {
    @apply font-medium text-blue-400 dark:text-inlay-400;
  }

  .sheet-preview .info {
    @apply font-medium text-red-400 dark:text-inlay-400;
  }
}
