@import 'material-icons/iconfont/material-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AlbertSans';
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url('../fonts/AlbertSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 100 200 300 400 500 600 700 800;
  src: url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-medium;
  }

  html {
    @apply bg-cod-gray-50 font-['Inter'] text-cod-gray-700;
  }

  button {
    @apply cursor-pointer;
  }

  hr {
    @apply my-2 border border-cod-gray-100;
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    @apply h-2 w-2 bg-cod-gray-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-cod-gray-400;
  }

  /* selection  */
  ::selection {
    @apply bg-ocean-green-200 text-ocean-green-800
  }
}

@layer utilities {
  .menu-title {
    @apply text-base text-cod-gray-800;
  }

  .markdown-preview > h1,
  h2,
  h3 {
    @apply leading-[1.125];
  }

  .markdown-preview > h1 {
    @apply text-ocean-green-400;
  }

  .markdown-preview > hr {
    @apply border border-cod-gray-200;
  }

  .markdown-preview > .chord {
    @apply relative z-0 font-extrabold text-cod-gray-800;
  }

  .markdown-preview > .chord::before {
    @apply absolute bottom-0 left-[-0.24rem] right-[-0.24rem] top-0 z-[-1] rounded-sm bg-cod-gray-200 content-[''];
  }

  .markdown-preview > .lyrics {
    @apply font-medium;
  }

  .markdown-preview > .song-section {
    @apply text-ocean-green-400;
  }

  #app {
    @apply overflow-clip
  }
}
